# importar y exportar ficheros

tratamiento de ficheros:
* texto
* excel
* binario
* sql
* nosql

In [4]:
#librerias
import numpy as np
import pandas as pd

In [8]:
# ficheros csv
#pd.read_csv y pd.read_table lectura de datos
#escritura de datos contenidos en un dataframe to_csv

dfcsv = pd.read_csv('./animales.csv', delimiter=',')
print(dfcsv)
tbcsv = pd.read_table('./animales.csv', delimiter=',')
print(tbcsv)

           Especie  Peso cuerpo  Peso cerebro
0    Big brown bat        0.023           0.3
1            Mouse        0.023           0.4
2  Ground squirrel        0.101           4.0
3       Tree shrew        0.104           2.5
4   Golden hamster        0.120           1.0
5             Mole        0.122           3.0
6           Galago        0.200           5.0
7              Rat        0.280           1.9
           Especie  Peso cuerpo  Peso cerebro
0    Big brown bat        0.023           0.3
1            Mouse        0.023           0.4
2  Ground squirrel        0.101           4.0
3       Tree shrew        0.104           2.5
4   Golden hamster        0.120           1.0
5             Mole        0.122           3.0
6           Galago        0.200           5.0
7              Rat        0.280           1.9

In [9]:
csv = pd.read_csv('./animales.csv', delimiter=',', header=None)
print(csv)

                 0            1             2
0          Especie  Peso cuerpo  Peso cerebro
1    Big brown bat        0.023           0.3
2            Mouse        0.023           0.4
3  Ground squirrel        0.101             4
4       Tree shrew        0.104           2.5
5   Golden hamster         0.12             1
6             Mole        0.122             3
7           Galago          0.2             5
8              Rat         0.28           1.9

In [11]:
#Usuario 
csv = pd.read_csv('./peliculas.csv', delimiter=',', skiprows=7)
print(csv)

   Extreno                     Nombre        Cat
0     1982  E.T. the ExtraTerrestrial    Fantasy
1     1982                Poltergeist     Horror
2     1992                      Alien     Action
3     1992            The Crying Game        War
4     1995                  Toy Story  Animation
5     1995                  GoldenEye     Action
6     1995                 Four Rooms   Thriller

In [13]:
#csv usando expresiones regulares para poder separar por tabulaciones o varios espacios
csv = pd.read_table('./islas.txt', sep='\s*' , engine='python')
print(csv)

   Unnamed: 0  N  o  m  b    r  e Unnamed: 7  S  u  ... Unnamed: 18    D  e.3  \
0         NaN  B  o  r  n    e  o        NaN  7  4  ...         3.0  NaN  NaN
1         NaN  M  a  d  a    g  a          s  c  a  ...         NaN  3.0  4.0
2         NaN  C  u  b  a  NaN  1          0  5  8  ...         NaN  NaN  NaN
3         NaN  T  a  i  w    a  n        NaN  3  5  ...         NaN  NaN  NaN

      n    s  i.2   d   a  d.1  Unnamed: 27
0  None  NaN  NaN NaN NaN  NaN          NaN
1     ,  1.0  NaN NaN NaN  NaN          NaN
2  None  NaN  NaN NaN NaN  NaN          NaN
3  None  NaN  NaN NaN NaN  NaN          NaN

[4 rows x 28 columns]

In [14]:
csv = pd.read_csv('./peliculas.csv', delimiter=',', skiprows=7)
print(csv)

#guardar un fichero

   Extreno                     Nombre        Cat
0     1982  E.T. the ExtraTerrestrial    Fantasy
1     1982                Poltergeist     Horror
2     1992                      Alien     Action
3     1992            The Crying Game        War
4     1995                  Toy Story  Animation
5     1995                  GoldenEye     Action
6     1995                 Four Rooms   Thriller